
.work-item-content-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.work-item-content-details p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

.work-item-content-details span {
  font-size: 14px;
  color: #999;
}
