.navbar {
  display: inline-block;
  width: Hug (280px)px;
  height: Hug (40px)px;
  padding: 0px 12px;
  font: roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  gap: 0px;
  border-radius: 9999px;
  opacity: 0px;
  background: #FFFFFFE5;
  border: 1px solid #17171A0D;
  box-shadow: 0px 10px 15px -3px #2727290D;
}

.navbar ul {
  display: flex;
  column-gap: 24px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  width: Hug (280px)px;
  height: 40px;
}

.link {
  color: #272729;
  width: Hug (62px)px;
  height: Hug (40px)px;
  padding: 8px 12px 8px 12px;
  gap: 4px;
  opacity: 0px;
}

.link:hover {
  text-decoration: none;
  color: #14B8A6;
}

.link:active {
  border: 1px solid #14B8A6;
  border-radius: 6px;
}
